appsettings.json
server/Lyrics_Final_Proj/Lyrics_Final_Proj/obj/Debug/net6.0/project.razor.json
.vscode/*
server/Lyrics_Final_Proj/Lyrics_Final_Proj/bin
server/Lyrics_Final_Proj/Lyrics_Final_Proj/obj
server/Lyrics_Final_Proj/Lyrics_Final_Proj/Properties
server/.vs
*.vsidx
*.props
*.cache
server/Lyrics_Final_Proj/Lyrics_Final_Proj/obj/Lyrics_Final_Proj.csproj.nuget.dgspec.json
